services:
  postgres:
    image: "postgres:16"
    environment:
      - "POSTGRES_USER=${SERVICE_USER_POSTGRES}"
      - "POSTGRES_PASSWORD=${SERVICE_PASSWORD_POSTGRES}"
      - "POSTGRES_DB=${SERVICE_DB_POSTGRES:-usesend}"
    healthcheck:
      test:
        - CMD-SHELL
        - "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"
      interval: 5s
      timeout: 20s
      retries: 10
    volumes:
      - "usesend-postgres-data:/var/lib/postgresql/data"
  usesend:
    dockerfile: docker/Dockerfile
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "3000:3000"
    expose:
      - 3000
    labels:
      - "${LABEL_TRAEFIK_SNS_ENTRYPOINTS}"
      - "${LABEL_TRAEFIK_SNS_TLS}"
      - "${LABEL_TRAEFIK_SNS_CERTRESOLVER}"
      - "${LABEL_TRAEFIK_SNS_MIDDLEWARES}"
      - "${LABEL_TRAEFIK_SNS_RULE}"
      - "${LABEL_TRAEFIK_SNS_SERVICE}"
    environment:
      - SERVICE_URL_USESEND_3000
      - "DATABASE_URL=postgresql://${SERVICE_USER_POSTGRES}:${SERVICE_PASSWORD_POSTGRES}@postgres:5432/${SERVICE_DB_POSTGRES:-usesend}"
      - "NEXTAUTH_URL=${SERVICE_URL_USESEND}"
      - "NEXTAUTH_SECRET=${SERVICE_BASE64_64_NEXTAUTHSECRET}"
      - "AWS_ACCESS_KEY=${AWS_ACCESS_KEY:?}"
      - "AWS_SECRET_KEY=${AWS_SECRET_KEY:?}"
      - "AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION:?}"
      - "GITHUB_ID=${GITHUB_ID:''}"
      - "GITHUB_SECRET=${GITHUB_SECRET:''}"
      - "OAUTH_PROVIDER_ID=${OAUTH_PROVIDER_ID:?}"
      - "OAUTH_PROVIDER_NAME=${OAUTH_PROVIDER_NAME:?}"
      - "OAUTH_PROVIDER_CLIENT_ID=${OAUTH_PROVIDER_CLIENT_ID:?}"
      - "OAUTH_PROVIDER_CLIENT_SECRET=${OAUTH_PROVIDER_CLIENT_SECRET:?}"
      - "OAUTH_PROVIDER_WELL_KNOWN_URL=${OAUTH_PROVIDER_WELL_KNOWN_URL:?}"
      - "REDIS_URL=${REDIS_URL:?}"
      - "NEXT_PUBLIC_IS_CLOUD=${NEXT_PUBLIC_IS_CLOUD:-false}"
      - "API_RATE_LIMIT=${API_RATE_LIMIT:-1}"
      - HOSTNAME=0.0.0.0
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test:
        - CMD-SHELL
        - "wget -qO- http://usesend:3000 || exit 1"
      interval: 5s
      retries: 10
      timeout: 2s
